<footer class="py-3 my-4">
  <ul style="list-style-type: none;" class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="mailto:nikocerone96@gmail.com" class="nav-link px-2 text-body-secondary">Contact</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
  </ul>
  <p class="text-center text-body-secondary">© 2023 Nico Cerone</p>
</footer>